@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600&family=Quicksand:wght@400;500;700&family=Qwigley&display=swap");

:root {
  --primaryColor: #1e2f23;
  --secondaryColor: #283618;
  --pink: #f1b69b;
  --white: #fff;
  --secondary-pink: #efd3cd;
  --backgroundColor: #e8f1f2;
  --btn-primary: #1d1e18;
  --btn-secondary: #fff;
  --main-title-font: "Qwigley";
  --secondary-title-font: "El Messiri";
  --main-font: "Quicksand";
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a,
button {
  all: unset;
  cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
  max-block-size: 100%;
}

.primary-title {
  font-family: "Qwigley";
  font-size: 70px;
  color: var(--white);
}

.shortDesc {
  font-family: "El Messiri";
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  color: var(--secondary-pink);
}

.btn {
  font-family: "Quicksand";
  text-transform: uppercase;
  font-weight: 700;
  padding: 1em 1.5em;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primaryColor);
  color: var(--white);
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: var(--white);
  color: var(--secondaryColor);
}

.btn-secondary {
  background-color: var(--pink);
  color: var(--secondaryColor);
}

.btn-secondary:hover {
  background-color: var(--white);
  color: var(--pink);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  font-family: "Quicksand", "El Messiri", "Times New Roman", "Lucida Console",
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 200%;
}

/*-------- NAVBAR ---------*/
header {
  background-color: var(--backgroundColor);
  position: sticky;
  top: 0;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  gap: 2em;
}

.navbar-logo {
  width: 140px;
  height: 50px;
}

.navbar-listItems {
  font-family: var(--secondary-title-font);
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.navbar-listItems li a {
  padding-bottom: 1px;
  border-bottom: 0.5px solid transparent;
  transition: all 0.2s;
}
.navbar-listItems li a:hover,
.navbar-listItems li a:focus {
  color: var(--pink);
  cursor: pointer;
  border-bottom: 0.5px solid var(--pink);
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 0.8em;
  }
  .navbar-logo {
    width: 110px;
    height: 40px;
  }
  .navbar-listItems {
    justify-content: center;
    gap: 0.6em;
  }
}

/*-------- HOME ---------*/
.page-intro {
  min-height: 60vh;
  display: flex;
  justify-content: center;
}

.home-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)),
    url(./assets/images/mainImage.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-position-y: -50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-intro .intro-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  margin-top: 60px;
}

.page-intro .intro-div img {
  width: 145px;
  height: 132px;
}

.page-intro .intro-div p {
  text-align: center;
  margin-bottom: 20px;
}

/*-------- ABOUT ---------*/
.about-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)),
    url(./assets/images/tables.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-position-y: -120px;
  background-repeat: no-repeat;
  background-size: cover;
}

/*-------- GALLERY ---------*/
.gallery-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)),
    url(./assets/images/car.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-position-y: -80px;
  background-repeat: no-repeat;
  background-size: cover;
}

/*-------- ACCOMMODATIONS ---------*/
.accommodation-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)),
    url(./assets/images/accommodationIntro.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*-------- PARTNERS ---------*/
.partners-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)),
    url(./assets/images/gift.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*-------- CONTACT  ---------*/
.contact-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)),
    url(./assets/images/form.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-position-y: -90px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*-------- FOOTER ---------*/
footer {
  background-color: var(--btn-primary);
  padding: 1em;
}

.footer-itemList {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1.5em;
}

.footer-itemList li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  width: 40px;
  height: 40px;
  color: var(--primaryColor);
  border-radius: 50%;
  background-color: var(--pink);
  transition: all 0.3s;
}

.footer-itemList li a:hover,
.footer-itemList li a:focus {
  background-color: var(--btn-secondary);
  color: var(--pink);
}

.footer-paragraph {
  font-family: "El Messiri";
  font-style: italic;
  text-align: center;
  color: var(--btn-secondary);
}

/* Gallery Grid
.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.div1 {
  grid-area: 1 / 1 / 4 / 3;
}
.div2 {
  grid-area: 1 / 3 / 3 / 5;
}
.div3 {
  grid-area: 1 / 5 / 4 / 7;
}
.div4 {
  grid-area: 4 / 1 / 6 / 3;
}
.div5 {
  grid-area: 3 / 3 / 6 / 5;
}
.div6 {
  grid-area: 4 / 5 / 6 / 7;
} */
